@import './utils/loader.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&display=swap');
@import './base/normalize.css';
@import './base/variables.css';
@import './base/general.css';

.header__block { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__img {
  width: 300px;
  height: 83px;
  margin: 10px;
}

.instructions__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.instructions__button {
  margin: 10px;
}

.instructions__button:nth-child(2) {
  width: 270px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: start;
  align-items: start;
}
.form__question {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form__question h4 {
  font-size: 26px;
}
.form__block {
  display: flex;
  flex-direction: column;
}
.form__group {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.form__label {
  display: flex;
  align-items: center;
  gap:5px;
}
.form__select {
  height: 40px;
}
.form__error-span {
  color: red;
}
.form__input {
  height: 40px;
}
.form__button {
  width: 300px;
  align-self: center;
  color: var(--dark);
  background-color: var(--dark-orange);
}
.form__button:hover {
  color: var(--dark-orange);
  background-color: var(--white);
  border: 1px solid var(--dark-orange);
  cursor: pointer;
}
.form__message-span {
  color: green;
}

input[type=text],
select {
  border: 1px solid var(--grey);
  border-radius: 4px;
}

.result {
  border: 1px solid var(--grey);
  border-radius: 4px;
  padding: 15px;
}

.result__block h4 {
  font-weight: 700;
}

.result__answer {
  color: red;
}

.result__blank-number {
  font-size: 20px;
  font-weight: 700;
  width: 35px;
  height: 35px;
  border: 1px solid var(--dark);
  border-radius: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result__button {
  margin: 10px 0px 10px auto;
  background-color: red;
}

.result__button:hover {
  cursor: pointer;
  border: 1px solid red;
  color: red;
}

.instructions__paragraph a {
  text-decoration: underline;
}

.instructions__images {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.patient__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.patient__button {
  margin: 10px;
}

.marked {
  font-weight: 700;
  text-decoration: underline;
}

.not-found {
  width: 100%;
  height: 100%;
}

.not-found__container {
  background-color: var(--dark-orange);
  font-size: 28px;
  font-weight: 700;
  color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input--your-value {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
